.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.signup-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.signup-card form {
  display: flex;
  flex-direction: column;
}

.signup-card input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signup-card button {
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.signup-card button:hover {
  background-color: #4338ca;
}

.bottom-text {
  margin-top: 15px;
  font-size: 14px;
}

.bottom-text span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 500;
}
